/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: auto; */
}

body {
    background-color: #f7ede2;
    font-family: "Merriweather", Helvetica, sans-serif;
    height: 100vh;
}

/* Header and nav styles */

header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 80px;
    max-height: 130px;
    /* add gradient colour to header */
    background: rgb(137,105,120);
    background: linear-gradient(90deg, rgba(137,105,120,1) 26%, rgba(225,219,221,1) 100%);
    box-shadow: 0 2px 2px #04395e;
    display: flex;
    justify-content: space-between;
}

#logo {
   text-transform: uppercase;
   font-size: 220%;
   letter-spacing: 1px;
   padding-left: 3px;
   text-align: left;
   color: #f7ede2;
   font-family: "Karla", serif;
}

/* Nav screen reader info not visible for sighted users */
.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px); 
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
    white-space: nowrap; 
}

nav {
    position: absolute;
    background-color: #f7ede2;
    width: 100%;
    top: 100%;
    padding-left: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 110%;
    display: none;
    box-shadow: 0 2px 2px #04395e;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
    padding-right: 4px;
}

nav li {
    list-style-type: none;
    padding: 3px 4px;
}

a {
    text-decoration: none;
    color: #04395e;
}

.active {
    border-bottom: 1px solid #04395e;
}

.text-center {
    text-align: center;
}

/* Main styles */

#hero-image img {
    width: 99%;
    border-radius: 5px;
    margin-top: 5px;
}

.page-title {
    padding-top: 5px;
    letter-spacing: 0.1rem;
    color: #04395e;
    border-bottom: 1px solid #04395e;
}

main {
    padding-bottom: 60px;
}

.text-styles {
    color: #3a3a3a;
    padding: 5px;
}

.text-styles p {
    padding-top: 5px;
}

h3 {
    letter-spacing: 0.1rem;
    padding-bottom: 3px;
    color: #B1740F;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

.index-img {
    padding-top: 5px;
    border-radius: 30%;
}

.lessons {
    margin: 5px;
    padding: 5px;
    color: #f7ede2;
    background-color: #04395e;
    border: 1px solid #04395e;
    box-shadow: 3px 3px #3a3a3a;
    border-radius: 10px;
}


.lessons-list {
    padding: 0.2em;
    margin: 3px 20px;
    list-style-image: url("../images/piano-list-icon.png");
}

/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
} */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-wrap: wrap;
}

.iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 100%;
    height: 100%;
}

iframe {
    aspect-ratio: 16/9;
    width: 100%;
  }

/* Thankyou styles */

.thankyou {
    color: #04395e;
    font-size: 120%;
    padding: 20px;
}

.thankyou > h2 {
    padding: 30px;
}

.returning {
    font-size: 75%;
    padding-top: 45px;
}

/* contact.html styles */

#contact-form {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #04395e;
    color: #f7ede2;
    margin: 5px;
    border-radius: 10px;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    padding-bottom: 5px;
}

.text-input {
    width: 100%;
    height: 25px;
    border: 1px solid #04395e;
    border-radius: 4px;
    background-color: #f7ede2;
    padding: 5px
}

#message {
    min-height: 150px;
    width: 100%;
    border: 1px solid #04395e;
    border-radius: 4px;
    font-family: inherit;
    background-color: #f7ede2;
    padding: 5px;
}

/* submit button styles */

#contact-form input[type=submit] {
    height: 40px;
    max-width: 200px ;
    color: #04395e;
    background: #f7ede2;
    font-size: 100%;
    border-radius: 5px;
    border-width: 3px;
    border: 3px outset #B1740F;
}

.error-page {
    padding: 10%;
}

/* footer styles */

.footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #ba9eab;
    color: #f7ede2;
    text-align: center;
    box-shadow: 0 0 0 2px #04395e;
    justify-content: space-between;
}

.sm-links {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.sm-links i {
    font-size: 180%;
    padding: 5px 3px;
}

.copyright {
    color: #3a3a3a;
    font-size: 0.6em;
}

/* media queries */

@media screen and (max-width: 406px) {
    h1 {
        width: 100%;
    }
}

@media screen and (min-width: 407px) {
    h1 {
        width: 90%;
    }
}

@media screen and (min-width: 486px) {
    h1 {
        width: 70%;
    }

    .iframe {
        width: 50%;
    }

}

@media screen and (min-width: 850px) {
    header {
        display: flex;
        align-items: center;
    }

    h1 {
        width: 80%;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: transparent;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

}

@media screen and (min-width: 914px) {
    h1 {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }

}